.section__title {
  margin: 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  font-family: "YesevaOne", "Georgia", serif;
  text-align: center;
  color: $color-white;
  font-style: normal;
}

@media (max-width: $tablet-width) {
  .section__title {
    font-size: 28px;
    line-height: 32px;
  }
}

.section__lead {
  margin: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  color: $color-primary;
  font-style: normal;
}

@media (max-width: $tablet-width) {
  .section__lead {
    font-size: 14px;
    line-height: 140%;
  }
}
