$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$large-width: 1366px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-white: #ffffff;
$color-primary: #A07B50;
$color-dark: #181617;
$color-base: #1F1C1D;